@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

/*=========================
 Common CSS 
===========================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "JetBrains Mono", monospace;
  color: #666666;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*=========================
Header Section
===========================*/

.header-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  background-color: #27292f;
}

.logo {
  width: 30%;
}

.header-right-area {
  width: 70%;
  text-align: right;
}

.search-area {
  width: 100%;
  max-width: 210px;
  display: inline-block;
}

.search-area form {
  background-color: #666666;
  border-radius: 25px;
  padding: 1%;
}

.search-area input {
  width: 82%;
  height: 24px;
  padding: 1%;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-area input::placeholder {
  color: #ffffff;
}

.search-area form button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #000000;
  padding: 1%;
  cursor: pointer;
}

.search-area form button i {
  color: #666666;
}

.search-area form button:hover i {
  color: #ffffff;
}

.menu {
  margin-top: 5px;
}

.menu > ul > li {
  display: inline-block;
}

.menu > ul > li > a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 7px;
  outline: none;
}

.menu > ul > li > a:hover {
  color: #666666;
}

/*=========================
Header Section
===========================*/

.contact-area {
  background: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 20px;
}

.contact-area h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  flex-basis: 68%;
}

.contact-area a {
  text-decoration: none;
  background: #1f232c;
  color: #e6e6e6;
  font-size: 26px;
  padding: 20px 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px;
  flex-basis: 32%;
}
